*{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #f4f4f4;
    margin: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: #22328d;
    padding: 12px;
}
.container{
    max-width: 600px;
    width: 100%;
    margin: 25px auto;
    background-color:rgba(75, 76, 78, 0.11);
    padding: 10px;
    border: 0.01px solid #8d8a8a2a;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    padding: 8px;
}

.form-content label{
    display: block;
    margin-bottom: 2px;
}
.form-content input{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form button {
    background-color: #0e30a1;
    color: white;
    width: 20%;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    left: 30%;
}

.form button:hover {
    background-color: #2c4db9;
}

.imagem {
    display: flex;
    justify-content: space-around;
}
.imagem img{
    width: 175px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(0,0, 0, 0.01);
    border: 1px solid #300505;
}

th {
    border: 1px solid #ddd;
    text-align: center;
    color: #22328d;
    padding: 10px;
}

td{
    border: 1px solid #ddd;
    padding: 10px;
}
